1. . -> any char
2. \* -> 0 or more
3. \+ -> 1 or more
4. \d -> digits
5. \d{n} -> total n any digits
6. [] -> including the characters inside the brackets
7. [^] -> excluding the characters inside the brackets
8. | -> or
9. \D -> any non digit character
10. \s -> any whitespace character
11. \S -> any non whitespace character
12. ^ -> start of a string
13. $ -> end of a string

In [ ]:
import re

In [ ]:
txt = 'aldsfllfa1234567890dfad23 ewrdsklfj 4 4fdsfa 434 1234567890'

In [ ]:
pattern = '\d{10}'
matches = re.findall(pattern, txt)
matches

['1234567890', '1234567890']

In [ ]:
txt = 'aldsfllfa1234567890dfad23 ewrdsklfj 4 (456)-345-43545 4fdsfa 434 1234567890 (456)-3455-43545'

In [ ]:
pattern = '\(\d{3}\)-\d{3}-\d{4}'
matches = re.findall(pattern, txt)
matches

['(456)-345-4354']

In [ ]:
txt = 'aldsfllfa1234567890dfad23 ewrdsklfj 4 (456)-345-43545 4fdsfa 434 1234567890 (456)-3455-43545'

In [ ]:
pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'
matches = re.findall(pattern, txt)
matches

['1234567890', '(456)-345-4354', '1234567890']

In [ ]:
txt = 'aldsfllfa1234567890dfad23 ewrdsklfj 4 xyz@gmail.com abc_dfa@ymail.io hello-email@yahoo.com rtgg_98@gmail.com @.'

In [ ]:
pattern = '[a-zA-Z0-9_-]+@[a-zA-Z]+\.[a-zA-Z]+'
matches = re.findall(pattern, txt)
matches

['xyz@gmail.com',
 'abc_dfa@ymail.io',
 'hello-email@yahoo.com',
 'rtgg_98@gmail.com']

In [ ]:
txt = 'order # 43545243 order 32455 adsf order number 2452523 alfjalfj'

In [ ]:
pattern = 'order[^\d]*\d*'
matches = re.findall(pattern, txt)
matches

['order # 43545243', 'order 32455', 'order number 2452523']

In [ ]:
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, txt)
matches

['43545243', '32455', '2452523']